<?xml version="1.0"?>
<robot name="demo_model" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find demo_description)/urdf/common.xacro"/>
  <xacro:include filename="$(find demo_description)/urdf/closed_link.urdf.xacro"/>

  <link name="base_link"/>

  <xacro:closed_link parent="base_link">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:closed_link>

</robot>
