<?xml version="1.0"?>
<launch>
  <arg name="gui" default="True" />
  <arg name="rviz_config" default="$(find demo_description)/launch/config/display.rviz"/>
  <arg name="model" default="$(find demo_description)/robots/demo_model.urdf.xacro"/>

  <param name="robot_description" command="$(find xacro)/xacro '$(arg model)'"/>
  <param name="use_gui" value="$(arg gui)"/>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rviz_config)"/>
</launch>
